.os-theme-light {
  --os-handle-bg: #dae1e780;
  --os-handle-bg-hover: #dae1e780;
  --os-handle-bg-active: #dae1e780;
}

* {
  box-sizing: border-box;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
